[submodule "config/includes.chroot/home/user/NoLongerEvil-Thermostat"]
	path = config/includes.chroot/etc/skel/NoLongerEvil-Thermostat
	url = https://github.com/codykociemba/NoLongerEvil-Thermostat.git
	branch = open-source-prototype
