[Desktop Entry]
Version=1.0
Type=Application
Name=NLEInstall
Comment=Description of what this does
Exec=/tmp/NoLongerEvil-Thermostat/install.sh
Icon=utilities-terminal
Terminal=true
Categories=Utility;
